.Rproj.user
.Rhistory
.RData
.Ruserdata

.venv/

.Renviron

.cache/

.config/

.ipynb_checkpoints/

.ipython/

.jupyter/

.local/

.pdfbox.cache

submissions/

review-material/

reports/08/Measuring Landmark Salience in Rural Areas/

reports/08/Measuring Landmark Salience in Rural Areas.zip

reports/28/osfstorage-archive.zip

reports/28/osfstorage-archive/

reports/28/reproreview_AGILE-2025_submission-28.pdf

reports/08/reproreview_AGILE-2025_submission-08.pdf
